 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 924px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 104px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 27px 0 0;
}

.u-section-1 .u-text-3 {
  text-align: start;
  margin: 67px -1872px 0 0;
}

.u-section-1 .u-text-4 {
  text-align: start;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-5 {
  text-align: start;
  margin: 20px -1872px 0 0;
}

.u-section-1 .u-text-6 {
  text-align: start;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-7 {
  text-align: start;
  margin: 20px -1872px 0 0;
}

.u-section-1 .u-text-8 {
  text-align: start;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-9 {
  text-align: start;
  margin: 20px -1872px 0 0;
}

.u-section-1 .u-text-10 {
  text-align: start;
  margin: 20px auto 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1767px;
}

.u-section-2 .u-text-1 {
  margin: 20px 483px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  text-align: start;
  margin: 20px 483px 0 0;
}

.u-section-2 .u-text-4 {
  text-align: start;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  text-align: start;
  margin: 20px 296px 0 0;
}

.u-section-2 .u-text-6 {
  text-align: start;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  text-align: start;
  margin: 20px 296px 0 0;
}

.u-section-2 .u-text-8 {
  text-align: start;
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 283px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 283px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 96px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 96px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 63px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 63px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  margin: 20px 86px 0 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: 86px;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: 86px;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-right: 86px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 464px;
}

.u-section-4 .u-table-1 {
  margin: 59px auto 59px 0;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-09d9-4 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-text-2 {
  margin: 20px 798px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 13px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 447px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 13px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 548px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 13px 0 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 724px 0 0;
}

.u-section-5 .u-text-9 {
  margin: 13px 379px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 598px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 247px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 348px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 524px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 179px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 378px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 27px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 128px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 304px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-right: 198px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 124px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }
}